<div class="amr_testimonial">
  <div class="amr_container_1170">
    <div class="amr_pet_consultants_header">
      {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
      {% if section.settings.desc != blank %}<div>{{ section.settings.desc }}</div>{% endif %}
    </div>
    <div class="amr_testimonial_items">
      {% for block in section.blocks %}
        {% if block.type == 'testimonial' %}
        <div class="amr_testimonial_item" style="{% if block.settings.bg_color != blank %}background-color:{{ block.settings.bg_color }};{% endif %}">
         <div class="amr_testimonial_item_inner">
          <h3 style="color:{{ block.settings.title_color }};">{{ block.settings.title }}</h3>
          <img src={{ block.settings.main_img | img_url:'master' }}>
          <h4 style="color:{{ block.settings.name_color }};">{{ block.settings.name }}</h4>
          <div style="color:{{ block.settings.message_color }};">{{ block.settings.message }}</div>
           </div>
          <div class="stars_list">
            <img src="{{ block.settings.star_img | img_url:'master' }}" class="star">
            <img src="{{ block.settings.star_img | img_url:'master' }}" class="star">
            <img src="{{ block.settings.star_img | img_url:'master' }}" class="star">
            <img src="{{ block.settings.star_img | img_url:'master' }}" class="star">
            <img src="{{ block.settings.star_img | img_url:'master' }}" class="star">
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonial Section",
  "max_blocks":3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label":"Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label":"Description"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type":"color",
          "id":"bg_color",
          "label":"Background Color"
        },
        {
          "type": "text",
          "id": "title",
          "label":"Title"
        },
        {
          "type":"color",
          "id":"title_color",
          "label":"Title Color"
        },
        {
          "type": "image_picker",
          "id": "main_img",
          "label":"Image"
        },
        {
          "type":"text",
          "id":"name",
          "label":"Name"
        },
        {
          "type":"color",
          "id":"name_color",
          "label":"Name Color"
        },
        {
          "type": "richtext",
          "id": "message",
          "label":"Message"
        },
        {
          "type":"color",
          "id":"message_color",
          "label":"Message Color"
        },
        {
          "type":"image_picker",
          "id":"star_img",
          "label":"Star Image"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "Testimonial Section"
      }
    ]
}
{% endschema %}