<style>
        .d_flex_main{
          display:flex;
        }
        .width50_cou{
          width:50%
        }
        .width_img_cource{
              width: 410px;
          border-radius: 24px;
        }
        .container_cources{
          max-width: 120rem;
          margin: auto;
        }
      .clsh2_cource{
        font-family: 'BLT-Heirloom';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
        color: #184B44;
      }
      .price_in_c{
        font-family: 'Josefin Sans';
            text-decoration-line: line-through;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
          color: #184B44;
      }
      .author_cource{
        font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off, 'kern' off;
    color: #5F5E66;
      }
    .btnbynow_courc{
      width: 468px;
      border: 2px solid #184B44;
  border-radius: 24px;
    height: 51px;
    background: white;
      font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #1E1E1E;
    }
  .d-flex-jus-end_{
    display: flex;
    justify-content: end;
  }
  .line_center_{
        text-decoration-line: blink;
  }
</style>
<section class="page-width container_cources">
  {% assign product = all_products[section.settings.product] %}
  {% for image in product.images limit: 1 %}
    <div class="d_flex_main">
      <div class="width50_cou">
        <h2 class="clsh2_cource">{{ product.title }}</h2>
        <p class="author_cource">{{ product.vendor }}</p>
        <p>
          <span class="price_in_c"> {{ product.price | money_without_trailing_zeros -}}</span>
          <span class="price_in_c line_center_">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
        </p>

        <button class="btnbynow_courc" href="{{ product.url }}">Buy Now</button>
      </div>
      <div class="width50_cou d-flex-jus-end_">
        <img class="width_img_cource" src="{{ image.src | product_img_url: 'grande' }}">
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Image With text Cources",
  "settings": [
       {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
  ],
  "blocks": [
{
  "type": "collection",
  "name": "Collection",
  "settings": [

       {
  "type": "text",
  "id": "txet_blog",
  "label": "Text"
    }
  ]
}
  ],
  "presets": [
  {
  "name": "Image With text Cources"
  }
  ]
}
{% endschema %}
