<div class="amr_more_resources amr_dots_arrows" style="background-color:{{ section.settings.bg_color }};">
  <div class="amr_container_1170" style="background-color:{{ section.settings.slide_bg_color }};">
    <div class="amr_pet_consultants_header">
      {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
      {% if section.settings.desc != blank %}<div>{{ section.settings.desc }}</div>{% endif %}
      <div class="amr_PD_btn_grup">
        {% if section.settings.btn_txt != blank %}<a href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>{% endif %}
        {% if section.settings.btn_txt2 != blank %}<a href="{{ section.settings.btn_url2 }}">{{ section.settings.btn_txt2 }}</a>{% endif %}
      </div>
      <!-- <div class="amr_MR_images">
        {% for block in section.blocks %}
          <div class="amr_MR_img">
            <img src="{{ block.settings.main_img | img_url:'master' }}">
          </div>
        {% endfor %}
      </div> -->
{% comment %}
<div class="carousel">
  {% for block in section.blocks %}
    <div class="carousel-item{% if block.settings.custom_class != blank %} {{ block.settings.custom_class }}{% endif %}">
      <img src="{{ block.settings.main_img | img_url:'master' }}">
    </div>
  {% endfor %}
    <!-- Add more carousel items as needed -->
    <button class="carousel-control-prev">Prev</button>
    <button class="carousel-control-next">Next</button>
  </div>
  {% endcomment %}
<!-- Slider code start -->
    <div class="amr_MR_container">
        <div class="amr_MR_button" onclick="shiftLeft()"><img src="https://image.ibb.co/mRsEb7/left_arrow.png" alt=""></div>
        <div class="amr_MR_cards-wrapper">
            <ul class="amr_MR_cards__container">
                  {% for block in section.blocks %}
                <li class="amr_MR_box"><img src="{{ block.settings.main_img | img_url:'master' }}"></li>
              {% endfor %}
              <li class="amr_MR_box amr_MR_box--hide">box 6</li>
                <li class="amr_MR_box amr_MR_box--hide">box 7</li>
            </ul>
        </div>
        <div class="button" onclick="shiftRight()"><img src="https://image.ibb.co/dfPSw7/right_arrow.png" alt=""></div>
    </div>
<!-- Slider code End -->
    
    </div>
   </div>


  <style>

.amr_MR_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amr_MR_button {
    margin-left: 0 3%;
    width: 2rem;
    cursor: pointer;
}

.amr_MR_button--inactive {
    opacity: 0.2;
}

.amr_MR_button img {
    width: 60%;
}

.amr_MR_cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amr_MR_cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.amr_MR_box {
/*     margin: -1.5rem; */
    width: 12rem;
    height: 20rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* transition: 1s all; */
}

.amr_MR_box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.amr_MR_box:nth-child(2) {
  left: 5%;
}

.amr_MR_box:nth-child(4) {
  left: -5%;
}

.amr_MR_box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.amr_MR_box:nth-child(1) {
  left: 15%;
}

.amr_MR_box:nth-child(5) {
  left: -15%;
}

.amr_MR_card__text-content {
    text-align: center;
    width: 75%;
}

.amr_MR_card__title {
    padding: 1rem;
}

.amr_MR_box--hide {
    display: none;
}

.amr_MR_move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.amr_MR_move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.amr_MR_move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.amr_MR_move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.amr_MR_move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.amr_MR_move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}


.amr_MR_move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}

.amr_MR_move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.amr_MR_move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.amr_MR_move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.amr_MR_move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.amr_MR_move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

  </style>

  <script>
    function shiftLeft() {
    const boxes = document.querySelectorAll(".amr_MR_box");
    const tmpNode = boxes[0];
    boxes[0].className = "amr_MR_box amr_MR_move-out-from-left";

    setTimeout(function() {
        if (boxes.length > 5) {
            tmpNode.classList.add("amr_MR_box--hide");
            boxes[5].className = "amr_MR_box amr_MR_move-to-position5-from-left";
        }
        boxes[1].className = "amr_MR_box amr_MR_move-to-position1-from-left";
        boxes[2].className = "amr_MR_box amr_MR_move-to-position2-from-left";
        boxes[3].className = "amr_MR_box amr_MR_move-to-position3-from-left";
        boxes[4].className = "amr_MR_box amr_MR_move-to-position4-from-left";
        boxes[0].remove();

        document.querySelector(".amr_MR_cards__container").appendChild(tmpNode);

    }, 500);

}

function shiftRight() {
    const boxes = document.querySelectorAll(".amr_MR_box");
    boxes[4].className = "amr_MR_box amr_MR_move-out-from-right";
    setTimeout(function() {
        const noOfCards = boxes.length;
        if (noOfCards > 4) {
            boxes[4].className = "amr_MR_box amr_MR_box--hide";
        }

        const tmpNode = boxes[noOfCards - 1];
        tmpNode.classList.remove("amr_MR_box--hide");
        boxes[noOfCards - 1].remove();
        let parentObj = document.querySelector(".amr_MR_cards__container");
        parentObj.insertBefore(tmpNode, parentObj.firstChild);
        tmpNode.className = "amr_MR_box amr_MR_move-to-position1-from-right";
        boxes[0].className = "amr_MR_box amr_MR_move-to-position2-from-right";
        boxes[1].className = "amr_MR_box amr_MR_move-to-position3-from-right";
        boxes[2].className = "amr_MR_box amr_MR_move-to-position4-from-right";
        boxes[3].className = "amr_MR_box amr_MR_move-to-position5-from-right";
    }, 500);

}
  </script>
{% schema %}
{
  "name": "More Resources",
  "max_blocks":5,
  "settings": [
    {
      "type":"color",
      "id":"bg_color",
      "label":"Background Color"
    },
    {
      "type":"color",
      "id":"slide_bg_color",
      "label":"Slider Background Color"
    },
    {
      "type": "text",
      "id": "heading",
      "label":"Heading"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label":"Description"
    },
    {
      "type":"text",
      "id":"btn_txt",
      "label":"Button Text"
    },
    {
      "type":"url",
      "id":"btn_url",
      "label":"Button URL"
    },
    {
      "type":"text",
      "id":"btn_txt2",
      "label":"Button Text"
    },
    {
      "type":"url",
      "id":"btn_url2",
      "label":"Button URL"
    }
  ],
  "blocks": [
    {
      "type": "Images",
      "name": "Images",
      "settings": [
        {
          "type":"text",
          "id":"custom_class",
          "label":"Custom Class"
        },
        {
          "type": "image_picker",
          "id": "main_img",
          "label":"Image"
        }
      ]
    }
  ],
  "presets": [
      {
        "name": "More Resources"
      }
    ]
}
{% endschema %}