<div class="rewordmax_container">
        <div class="petblogcontent">
            <h2>{{section.settings.labelourb}}</h2>
        </div>
        <div class="petblogflex">
            <div class="petblog50">
                <div class="petblogimg">
                    <img src="{{ section.settings.petblogimg|img_url: '800x' }}">
                </div>
            </div>
            <div class="petblog50">
                <div class="petblogdes">
                    <h2><a href="{{section.settings.prtbllink}}" target="_blank">{{section.settings.prtblsubdes}}</a></h2>
                    <h3>{{section.settings.prtblogdate}}</h3>
                    <p>{{section.settings.prtblogdes}}</p>
                </div>
            </div>
        </div>
</div>
{% schema %}
  {
    "name": "pet_ourblog",
    "class":"pet_ourblog",
    "settings": [
         {
    "type": "text",
    "id": "labelourb",
    "label": "Heading"
      } ,
       {
        "type":"image_picker",
        "id":"petblogimg",
        "label":"Image"
      },
      {
    "type": "text",
    "id": "prtbllink",
    "label": "Blog Link"
      } ,
      {
    "type": "text",
    "id": "prtblsubdes",
    "label": "Heading Blog"
      } ,
      {
    "type": "text",
    "id": "prtblogdate",
    "label": "Sub Heading"
      } ,
        {
    "type": "text",
    "id": "prtblogdes",
    "label": "Descriptio"
      } 
    ],
    "presets": [
    {
    "name": "pet_ourblog"
    }
    ]
  }
{% endschema %}