<div class="product-coaches">
  <div class="coach-image">
      <img src="{{ product.featured_image }}"/>
  </div>
  <div class="coach-details">
      <h1>{{ product.title }}</h1>
      <h2 class="coach-title">{{ product.metafields.my_fields._1_badge_text_2 }}</h2>
      <div class="coach-description">
        {{ product.description }}
      </div>
      <div class="coach-price">{{ product.price }}</div>
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="submit" name="add" id="add" value="Book A Consult" class="button">
      </form>
  </div>
</div>